/* --- New Notice Input Styles --- */
.notice-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

textarea {
    width: 100%;
    padding: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 15px;
    border: 1px solid rgba(116, 102, 75, 0.1);
    background: #FFF;
    outline: none;
    color: var(--text-color);
    resize: vertical;
    min-height: 100px;
}

textarea:focus {
    border-color: var(--accent-yellow);
    box-shadow: 0 0 10px rgba(254, 219, 136, 0.1);
}
